body{
    color: brown;
    /* test link to stylesheet */
}
/* active-time class which JS can change? */
.timeblock{
    /* border-top: solid grey;
    border-bottom: solid grey; */
    /* display: inline-block; */
    /* width should be 100%... */
    height: 50px;
    margin-bottom: 1px;
    /* not sure if I like this */
}
/* hour, event-name, edit as 3 main compenents within timeblock 
edit is now a button*/
.hour{
border-right: solid grey;
display: inline-block;
border-top: solid grey;
border-bottom: solid grey;
text-align: left;
}
.event-name{
    display: inline-block;
    border-top: solid grey;
    border-bottom: solid grey;
    border-left:solid grey;
    border-right: solid grey;
}
.edit-div{
    /* margin-left: 0px; */
    padding-left: 2px;
    /* background-color: lightcoral; */
}

@media only screen and (max-width: 640px){
    .responsive-text{
        margin: 0px;
        padding: 0px;
        position: relative;
        left: -15px;
        }
        /* I need to fix this later probably */
}
/* this may break on really small screens */