body{
    color: black;
    font-weight: 500;
    /* test link to stylesheet */
}

.timeblock{
    height: 50px;
    margin-bottom: 1px;
}
/* hour, event-name, edit as 3 main compenents within timeblock 
edit is now a button
*/
.hour{
border-right: solid grey;
display: inline-block;
border-top: solid grey;
border-bottom: solid grey;
text-align: left;
}
.event-name{
    display: inline-block;
    border-top: solid grey;
    border-bottom: solid grey;
    border-left:solid grey;
    border-right: solid grey;
}
.edit-div{
    padding-left: 2px;
    display: inline-block;
}

@media only screen and (max-width: 640px){
    .responsive-text{
        margin: 0px;
        padding: 0px;
        position: relative;
        left: -15px;
        }
    
}
